@inherits LayoutComponentBase

@inject NavigationManager NavigationManager;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <div class="top-row" @onclick="GoToSettings">
                <img src="/Images/settings_applications-18dp.svg" width="50" height="50" />
            </div>

        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{

    async Task GoToSettings()
    {
        NavigationManager.NavigateTo($"/settings");
    }
}
