
<div style="width:20px;height:10px;"></div>

<div class="center">
    <img src="/Images/icon_knx_no_text.svg" />
</div>

<div style="width:20px;height:10px;"></div>

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">KnxReporterPWA</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addxml">
                <span class="oi oi-plus" aria-hidden="true"></span> Add XML
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Processes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ListLogs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Raw Telegrams
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="decoded">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Decoded Telegrams
            </NavLink>
        </li>
    </ul>
</div>

<div class="fixed-bottom justify-content-center">
    <strong class="text-white center">KNX Data Extraction System</strong><br>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
