@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a @onclick="About" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    async Task About()
    {
        NavigationManager.NavigateTo($"/Success");

    }

}