@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.rectangle {
    height: 50px;
    width: 100px;
    background-color: #EEE;
}

.dropArea {
    border: 2px dashed steelblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    min-height: 200px;
}

    .dropArea:hover {
        background-color: lightcyan;
        color: #333;
    }

    .dropArea input[type=file] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        text-align: end;
        align-content:center;
        justify-content:flex-end;
    }

.dropAreaDrug {
    background-color: lightseagreen;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.loadingProgressBar {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.width20 {
    width: 20%;
}

.width50 {
    width: 50%;
}

.width80 {
    width: 80%;
}

.btn {
    text-align: center;
    background: #65c5ef;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
}

.btnNormal {
    width: 100%;
    text-align: center;
    background: #65c5ef;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
}

.blue {
    background: #65c5ef;
    color: #fff;
}

.rightBtn {
    float: right;
    text-align: center;
    width: 20%;
}

.invisible {
    visibility: collapse
}
.centerElements{
    justify-content:center;
    align-content:center;
    align-items: center;
}

.bottomDiv {
    float: inherit;
    text-align: center, end;
}

.modalDialog {
    max-width: 1200px;
    max-height: 80%;
    overflow-y: scroll;
    margin: 1.75rem auto;
    margin-top: 1.75rem;
    margin-right: 0;
    margin-bottom: 1.75rem;
    margin-left: auto;
}
